
// Header Section

.jumbotrone{
    color: white;
}

.menu a {
    color: white;
  }

// second-main section
.values{
    line-height: 2.5rem;
    font-size: 15px;
}

.button-learn{
    display: inline-block;
}
.button-white{
    color: white;
    border: 1px solid white;
}

.button-orange{
    color: goldenrod;
    border: 1px solid goldenrod;
}

.article-bar p{
    height: 80px;
    background-color:#ed6864 ;
    color: white;
    font-size: 20px;
    vertical-align: 100px;
}
