
*{
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 100%;
}



body{
    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;
}

.jumbotrone-section{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
}

h1{
    font-weight:300 ;
    font-size: 50px;
}

input{
    margin: 10px;
    text-align: center;
    padding: 5px;
}

.left-b-line{
    border-bottom: 3px solid #fcd66c;
    width: 150px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.b-line{ border-bottom: 3px solid #fcd66c;
    width: 150px;
    margin-bottom: 25px;
    margin-top: 5px; 
}

p{
    line-height: 1.5rem;
    font-weight: 200;
    font-size: 13px;
}

input{
    background-color: transparent;
}

.orange{
    color: white;
    background-color: goldenrod;
    border: 1px solid goldenrod;
    width: auto;
}


